@import "reset";

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 24px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

html,
body {
	height: 100%;

}
body {
  font-family: 'Roboto', sans-serif;
	line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;  
}

@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}




.header__menu {

  .menu__list {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 400;
    font-size: 11px;
    padding: 45px 0px;
  }

}

.header__intro {
  padding-bottom: 66px;
  img { width: 100%; }
  
}
.page__recent {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  
  .recent__post {
    width: 48%;
    display: flex;
    gap: 20px;
    

    .post__description {
      font-size: 13px;
      line-height: 26px;
      color: #5C5C5C;
      span {
        color:#7C7C7C;
        font-size: 12px;
        line-height: 30px;
      }
    }
  }
}



@media screen and (max-width: 1199.98px) {

  .page__recent {
    display: inline-block;

    .recent__post {
      width: 65%;
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 990.98px) {

  .page__recent {
    display: flex;

    .recent__post {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
    }
  }
  p {
    display: none;
  }
}